@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    .text-gradient {
        @apply bg-clip-text text-transparent;
        background-image: linear-gradient(to right, #0f172a, #0d9488);
    }
}

html {
    scroll-behavior: smooth;
}